.page__wrapper {
    max-width: 500px;
    text-align: center;
    
    margin-left:auto;
    margin-right:auto;
    background-color:whitesmoke;
}

.nav__link {
    display: flex;
    justify-content: flex-end;
}

#products__wrapper {
    text-align: center;
    width: 80%;
    max-width: 400px;
}

#products__list {
    display: grid;
    grid-template-columns: 1fr 5rem;
    list-style: none;

}